@mixin badge-variant($bg) {
 &::before{
      background:$bg;
      opacity: 0.1;
    }
    color:$bg;
  &[href] {
    @include hover-focus {
      color: $bg;
      text-decoration: none;
      background-color: $bg;
    }
  }
}
