
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import 'custom.variables';
// reseat

body{
    background: $light;
    font-family: $font-family-base;
        
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.theme-1{
    
    @import "core/custom";
    @import "theme";
    @import "badge";
    @import "query.builder";

}
.q-menu{
    padding: 0 0;
    margin: 0.125rem 0 0;
    font-size: 12px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px !important;
    box-shadow: none !important;
    .q-item {
        min-height: 40px;
        padding: 0rem 10px !important;
    }

}

//Utils

.default-border-radius{
    border-radius: $default-border-radius
}

.rounded-10 {
    border-radius: 10px;
}
.font-size-11 {
    font-size: 11px !important;
}

.tw-date-picker-event-proxy{
    min-width: unset !important;
}

.tw-form-controle-wrapper{
    &.disabled{
        pointer-events: all !important;
        opacity: 1 !important;
        cursor: pointer !important;
        
        .form-control{
            &.tw-status-selector{
              pointer-events: all !important;
        opacity: 1 !important;
        cursor: pointer !important;
        .q-field {
            cursor: pointer !important;
            .q-field__native > span{
                cursor: pointer !important;
            }
            .q-field__control{
                .q-field__native{
                    cursor: pointer !important;
                }

                
            }
        }
        }
             pointer-events: none !important;
        opacity: 0.6 !important;
        }
    }
}

.btn-link {
        text-decoration: underline !important;
}
.btn-link .q-focus-helper{
    background: transparent !important
}
.btn-link .q-btn__content{
     text-decoration: underline !important;
}

.bri-assesement {
    margin-bottom: 10px;
    margin-top: 10px;
}
.theme-1 .table td .tw-unsetForm-controle .form-control{
 width: 33.3333% !important;
    padding: 0.375rem 0.75rem !important;
    &.col-lg-12{
        width: 100% !important;
    }
}
.q-field--outlined {
&.q-field--readonly{
       cursor: not-allowed;
.q-field__control{
    .q-field__control-container{
         cursor: not-allowed;
         .q-field__native{
             cursor: not-allowed;
         }
    }
    .q-field__append{
       cursor: not-allowed; 
       .q-icon{
         cursor: not-allowed; 
       }
    }
&::before{
    border-style: solid !important;
}
&::after{
 cursor: not-allowed;
}
}
}
}

.tw-spacing-form{
    .q-field__bottom--animated {
        transform: unset;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
}

